<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ site.name }} - {{ page.title }}</title>

    <meta name="description" content="Cargo Media, Large Scale Webapplication Development">
    <meta name="keywords" content="web development, jobs, backend developer, php, js">

    <meta name="msapplication-TileColor" content="#D82954">
    <meta name="msapplication-TileImage" content="/img/tileImage.png">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" href="/img/touch-icon-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/touch-icon-76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/touch-icon-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/touch-icon-152.png">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36109168-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body class="page-{{ page.slug }}">
    <header id="header">
      <div class="sheet">
        <a href="/" class="logo" title="Cargo Media"></a>
        <nav role="navigation">
          <ul class="menu" role="menu">
            <li class="menu-item {% if page.slug == 'home' %}active{% endif %}"><a class="menu-item-link" href="/">Home</a></li>
            <li class="menu-item {% if page.slug == 'blog' %}active{% endif %}"><a class="menu-item-link" href="/blog">Blog</a></li>
            {% if site.data.jobs.size > 0 %}
            <li class="menu-item {% if page.slug == 'jobs' %}active{% endif %}">
              <a class="menu-item-link" href="/jobs">Jobs<span id="jobCount">{{ site.data.jobs.size }}</span></a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    <section id="main">
      {{ content }}
    </section>

    <footer id="footer">
      <div class="sheet">
        <div class="flex">
          <div class="flex-box">
            <h5>Office</h5>
            <p>Cargo Media</p>
            <p><a href="http://goo.gl/maps/Cj3LD">Untere Rebgasse 22</a></p>
            <p>4058 Basel (Switzerland)</p>
            <p><a href="mailto:hello@cargomedia.ch" class="mail"><span class="icon"></span><span class="label">hello@cargomedia.ch</span></a></p>
          </div>
          <div class="flex-box">
            <h5>Social</h5>
            <p><a href="https://twitter.com/cargomedia" title="Twitter">@cargomedia</a></p>
            <p><a href="https://plus.google.com/116466315130662662657" rel="publisher">Google+</a></p>
            <p><a href="https://www.facebook.com/cargomedia">Facebook</a></p>
            <p><a href="https://github.com/cargomedia/" title="Github">Github</a></p>
          </div>
          <div class="flex-box">
            <a href="http://madeinbasel.org" class="madeInBasel" title="Made in Basel"></a>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/fluidvids.min.js"></script>
    <script>
      fluidvids.init({
        selector: 'iframe', // runs querySelectorAll()
        players: ['www.youtube.com', 'player.vimeo.com'] // players to support
      });
    </script>
    <script>
      var url ='/img/icons.svg';
      var c=new XMLHttpRequest(); c.open('GET', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
      document.body.insertBefore(c.responseXML.firstChild, document.body.firstChild)
    </script>
  </body>
</html>
